body {
  margin: 0;
  padding: 0;
  font-family: itim;
  font-weight: 700;
  background: url("./img/moon-surface.jpg") no-repeat;
  background-position: center;
  background-size: cover;
}

header {
  font-size: 46px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  color: yellow;
  height: 80px;
  line-height: 80px;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.champs-wrapper {
  display: flex;
  justify-content: space-between;
}

.character {
  width: 300px;
  text-align: center;
  position: relative;
  border: 5px solid rgb(4, 126, 10);
  background-size: contain;
}

.character .icon {
  width: 200px;
  height: 300px;
  background: url("./img/main.png") no-repeat;
  background-size: cover;
  border: 1px solid black;
}

.char-middle {
  display: flex;
}

.char-left, .char-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.char-bottom {
  display: flex;
}

.char-item {
  width: 50px;
  height: 50px;
}

.helm {
  background: url("./img/helm.png");
  background-size: cover;
}

.armor {
  background: url("./img/armor.png");
  background-size: cover;
}

.boots {
  background: url("./img/boots.png");
  background-size: cover;
}

.gloves {
  background: url("./img/gloves.png");
  background-size: cover;
}

.exp {
  font-weight: normal;
  background-color: blue;
  height: 150px;
  border: 1px solid black;
  color: white;
}

.hp {
  font-weight: normal;
  color: white;
  background-color: red;
  height: 150px;
  border: 1px solid black;
}

.weapon {
  height: 100px;
  background: url("./img/weapon.png");
  background-size: contain;
  flex: 1;
  border-right: black 1px solid;
}

.stats {
  height: 100px;
  background-color: rgb(197, 219, 74);
  flex: 1;
}

.stats>div {
  height: 20px;
}

.bag {
  position: absolute;
  right: 60px;
  top: 10px;
  background: url("./img/bag.png") no-repeat;
  background-size: 80px 40px;
  background-position: -26px;
  width: 30px;
  height: 30px;
  transition: 0.2s;
  border-radius: 5px;
}

.bag:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.moon {
  margin: 0 auto;
  width: 500px;
  height: 500px;
  background: url("./img/moon.png");
}

.enemy {
  text-align: center;
}

.enemy p {
  color: yellow;
  font-weight: normal;
}

.enemy .bot {
  display: inline-block;
  width: 150px;
  background-size: cover;
  margin-left: 20px;
}

.bot-img {
  position: relative;
  border-radius: 35px;
  overflow: hidden;
  height: 150px;
}

.bot-img::after {
  content: '';
  display: block;
  width: 150px;
  height: 150px;
  background-color: rgb(76, 255, 22);
  position: absolute;
  top: 0;
  opacity: 0.3;
}

.bot:nth-child(2) .bot-img::after {
  background-color: rgb(187, 241, 38);
}

.bot:nth-child(3) .bot-img::after {
  background-color: rgb(241, 109, 109);
}

.bot:nth-child(4) .bot-img::after {
  background-color: rgb(197, 11, 172);
}

.enemy img {
  width: 180px;
  height: 150px;
  object-fit: cover;
  object-position: -11px -31px;
}

.attack {
  background-color: rgb(63, 62, 62);
  width: 80px;
  height: 20px;
  color: yellow;
  outline: none;
  border: none;
  border-radius: 2px;
  margin: 10px 0;
  transition: 0.2s;
  box-shadow: -3px 3px 6px black;
}

.attack:hover {
  color: rgb(57, 223, 57);
  cursor: pointer;
  box-shadow: -1px 1px 3px black;
  background-color: rgb(7, 7, 7);
}

.duel {
  text-align: center;
  height: 80px;
}

.duel img {
  border: 3px solid rgb(252, 77, 77);
  border-radius: 5px;
  height: 80px;
  width: 80px;
  transition: 0.2s;
  color: black;
}

.duel img:hover {
  border: 3px solid rgb(45, 211, 45);
  cursor: pointer;
  transform: scale(1.05);
}