@import url('https://fonts.googleapis.com/css2?family=Itim&family=Noto+Sans+TC:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: itim;
  font-weight: 400;
  background: url("./moon-surface.jpg") no-repeat;
  background-position: center;
}

header {
  font-size: 46px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  height: 80px;
  line-height: 80px;
  color: yellow;
}

.container {
  width: 1180px;
  margin: 0 auto;
}

.login-form {
  font-weight: normal;
  width: 300px;
  height: 200px;
  margin: 100px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: -8px 8px 15px #ccc;
  background: rgba(21, 24, 17, 0.6);
  z-index: 10;
}

form {
  padding: 20px 15px;
  z-index: 10;
}

.login, .pass {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: yellow;
}

.login-btn {
  margin-top: 10px;
  text-decoration: none;
  color: yellow;
  display: inline-block;
  border: 1px solid yellow;
  padding: 3px 6px;
  border-radius: 3px;
  cursor: pointer;
  width: 60px;
}

.mt-5 {
  margin-top: 42px;
}

.active-btn {
  margin-top: 10px;
  text-decoration: none;
  color: rgb(45, 82, 48);
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  cursor: pointer;
  background-color: yellow;
  width: 60px;
}

.login-btn:hover {
  color: rgb(45, 82, 48);
  background-color: yellow;
}

input {
  height: 15px;
  width: 160px;
}

button {
  background-color: rgb(63,62,62);
  color: yellow;
  border: none;
  cursor: pointer;
}

button:active {
  outline: none;
}

button:focus {
  outline: none;
}

.boss-motion {
  position: absolute;
  width: 200px;
  height: 270px;
  background: url(./assets/img/boss_1.png)  no-repeat;
  background-size: contain;
  z-index: -1;
  top: 15vh;
  left: 70vw;
  animation: charReverseAnime 63s infinite linear;
  transform: rotate(0deg);
}

.weapon-motion {
  position: absolute;
  width: 200px;
  height: 270px;
  background: url(./assets/img/weapon-gold.png)  no-repeat;
  background-size: contain;
  z-index: -1;
  top: 15vh;
  left: 70vw;
  animation: charReverseAnime 42s infinite linear;
  transform: rotate(0deg);
}

.char-motion {
  position: absolute;
  top: 15vh;
  left: 5vw;
  width: 250px;
  height: 350px;
  background: url(./assets/img/main-animate.png)  no-repeat;
  background-size: contain;
  z-index: -1;
  animation: charAnime 79s infinite linear;
  transform: rotate(0deg);
}

.armor-motion {
  position: absolute;
  top: 15vh;
  left: 5vw;
  width: 150px;
  height: 230px;
  background: url(./assets/img/armor-platinum.png)  no-repeat;
  background-size: contain;
  z-index: -1;
  animation: charAnime 55s infinite linear;
  transform: rotate(0deg);
}

@keyframes charAnime {
  25% {
    top: 20vh;
    left: calc(100vw - 300px);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    top: calc(75vh - 380px);
    left: calc(5vw);
  }
  75% {
    top: calc(95vh - 380px);
    left: calc(90vw - 300px);
  }
  85% {
    transform: rotate(-15deg);
    
  }
  100% {
    transform: rotate(0deg);
    top: calc(15vh);
    left: calc(5vw);
  }
}

@keyframes charReverseAnime {
  25% {
    top: calc(95vh - 380px);
    left: calc(5vw);
  }
  40% {
    transform: rotate(20deg);
  }
  50% {
    top: calc(40vh);
    left: calc(100vw - 300px);
  }
  75% {
    top: calc(95vh - 380px);
    left: calc(25vw);
  }
  85% {
    transform: rotate(-15deg);
    
  }
  100% {
    transform: rotate(0deg);
    top: calc(15vh);
    left: calc(70vw);
  }
}

@keyframes hide {
  0% {
    font-size: 5px;
    opacity: 1;
  }
  10% {
    font-size: 34px;
    opacity: 1;
  }
  70% {
    font-size: 34px;
    opacity: 0.9;
  }
  100% {
    font-size: 5px;
    opacity: 0;
  }
}

@keyframes hideCrit {
  0% {
    font-size: 5px;
    opacity: 1;
  }
  10% {
    font-size: 60px;
    opacity: 1;
  }
  70% {
    font-size: 54px;
    opacity: 0.9;
  }
  100% {
    font-size: 5px;
    opacity: 0;
  }
}