:root {
  --common: #999;
  --uncommon: #03df3a;
  --magic: #233ff7;
  --rare: #b223eb;
  --epic: #ffd209;
  --legendary: #f81d1d;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
